.menu{
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 40px;
  width: 100%;
  gap: 20px;
  top: 9%;
  left: -.1%;
  background-color: black;
  transition: 2s ease-out;
}

.menu a{
  font-size: larger;
  text-align: center;
  margin: 0;
  
}

#container{
  flex: 1;
  height: 100%;
}

#product_img{
  width: 80%;
}