.menu{
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 40px;
  width: 100%;
  gap: 20px;
  top: 9%;
  left: -.1%;
  background-color: black;
  transition: 2s ease;
}

.menu a{
  font-size: larger;
  text-align: center;
  margin: 0;
  
}